In [1]:
fj=open("idata.json",'r')
re=fj.read()
fj.close()

In [2]:
import json
record_data=json.loads(re)

In [3]:
record_data

{'1': {'manufactor_country': 'ind',
  'name': 'mango candy',
  'price': 15,
  'quantity': 100,
  't_name': 'mc'},
 '10': {'manufactor_country': 'us',
  'name': 'burger',
  'price': 80,
  'quantity': 100,
  't_name': 'b'},
 '11': {'manufactor_country': 'india',
  'name': 'coffee',
  'price': 50,
  'quantity': 100,
  't_name': 'c'},
 '12': {'manufactor_country': 'india',
  'name': 'ginger tea',
  'price': 35,
  'quantity': 100,
  't_name': 'gt'},
 '13': {'manufactor_country': 'india',
  'name': 'tulsi tea',
  'price': 35,
  'quantity': 100,
  't_name': 'tt'},
 '14': {'manufactor_country': 'aus',
  'name': 'mud shake',
  'price': 110,
  'quantity': 100,
  't_name': 'ms'},
 '15': {'manufactor_country': 'aus',
  'name': 'apple juice',
  'price': 100,
  'quantity': 100,
  't_name': 'aj'},
 '16': {'manufactor_country': 'us',
  'name': 'hotdog',
  'price': 90,
  'quantity': 100,
  't_name': 'hd'},
 '17': {'manufactor_country': 'india',
  'name': 'pizza',
  'price': 150,
  'quantity': 100,
  't_name': 'p'},
 '18': {'manufactor_country': 'india',
  'name': 'garlic bread',
  'price': 100,
  'quantity': 100,
  't_name': 'gb'},
 '19': {'manufactor_country': 'india',
  'name': 'nachos chat',
  'price': 60,
  'quantity': 100,
  't_name': 'nc'},
 '2': {'manufactor_country': 'aus',
  'name': 'choco candy',
  'price': 20,
  'quantity': 100,
  't_name': 'cc'},
 '20': {'manufactor_country': 'india',
  'name': 'papadi chat',
  'price': 50,
  'quantity': 100,
  't_name': 'pc'},
 '21': {'manufactor_country': 'india',
  'name': 'maggie',
  'price': 70,
  'quantity': 100,
  't_name': 'm'},
 '22': {'manufactor_country': 'india',
  'name': 'cheese puff',
  'price': 50,
  'quantity': 100,
  't_name': 'cp'},
 '23': {'manufactor_country': 'canada',
  'name': 'pasta',
  'price': 60,
  'quantity': 100,
  't_name': 'p'},
 '24': {'manufactor_country': 'china',
  'name': 'hakka noodles',
  'price': 80,
  'quantity': 100,
  't_name': 'hn'},
 '25': {'manufactor_country': 'india',
  'name': 'water',
  'price': 20,
  'quantity': 100,
  't_name': 'w'},
 '26': {'manufactor_country': 'india',
  'name': 'energy drink',
  'price': 110,
  'quantity': 100,
  't_name': 'ed'},
 '27': {'manufactor_country': 'india',
  'name': 'fizzy water',
  'price': 40,
  'quantity': 100,
  't_name': 'fw'},
 '28': {'manufactor_country': 'india',
  'name': 'chocolate',
  'price': 40,
  'quantity': 100,
  't_name': 'ch'},
 '29': {'manufactor_country': 'india',
  'name': 'sitafal icecream',
  'price': 70,
  'quantity': 100,
  't_name': 'si'},
 '3': {'manufactor_country': 'us',
  'name': 'vanila cupcake',
  'price': 35,
  'quantity': 100,
  't_name': 'vc'},
 '30': {'manufactor_country': 'india',
  'name': 'rasgulla icecream',
  'price': 90,
  'quantity': 100,
  't_name': 'ri'},
 '4': {'manufactor_country': 'ind',
  'name': 'dryfruit matho',
  'price': 50,
  'quantity': 100,
  't_name': 'dm'},
 '5': {'manufactor_country': 'india',
  'name': 'kaju katri',
  'price': 200,
  'quantity': 100,
  't_name': 'kk'},
 '6': {'manufactor_country': 'us',
  'name': 'chocolava cake',
  'price': 100,
  'quantity': 100,
  't_name': 'clc'},
 '7': {'manufactor_country': 'ind',
  'name': 'Green sandwich',
  'price': 70,
  'quantity': 100,
  't_name': 'gs'},
 '8': {'manufactor_country': 'ind',
  'name': 'Dabeli',
  'price': 35,
  'quantity': 100,
  't_name': 'd'},
 '9': {'manufactor_country': 'canda',
  'name': 'cheese toast sandwich',
  'price': 120,
  'quantity': 100,
  't_name': 'cts'}}

**Add new Items**

In [4]:
prod_id =str(input("Enter the product id: "))
prod_name =str(input("Enter the product name: "))
prod_price =int(input("Enter the product price: "))
prod_quantity =int(input("Enter the product quantity: "))
prod_tname =str(input("Enter the product tname: "))
manufactor_country =str(input("Enter the manufactor country: "))

Enter the product id: 31
Enter the product name: perk
Enter the product price: 5
Enter the product quantity: 100
Enter the product tname: pe
Enter the manufactor country: india

In [5]:
{prod_id: {'name':prod_name,'price':prod_price,'quantity':prod_quantity,'tname':prod_tname,'manufactor_country':manufactor_country}}

{'31': {'manufactor_country': 'india',
  'name': 'perk',
  'price': 5,
  'quantity': 100,
  'tname': 'pe'}}

In [6]:
record_data[prod_id]={prod_id: {'name':prod_name,'price':prod_price,'quantity':prod_quantity,'tname':prod_tname,'manufactor_country':manufactor_country}}

In [7]:
record_data

{'1': {'manufactor_country': 'ind',
  'name': 'mango candy',
  'price': 15,
  'quantity': 100,
  't_name': 'mc'},
 '10': {'manufactor_country': 'us',
  'name': 'burger',
  'price': 80,
  'quantity': 100,
  't_name': 'b'},
 '11': {'manufactor_country': 'india',
  'name': 'coffee',
  'price': 50,
  'quantity': 100,
  't_name': 'c'},
 '12': {'manufactor_country': 'india',
  'name': 'ginger tea',
  'price': 35,
  'quantity': 100,
  't_name': 'gt'},
 '13': {'manufactor_country': 'india',
  'name': 'tulsi tea',
  'price': 35,
  'quantity': 100,
  't_name': 'tt'},
 '14': {'manufactor_country': 'aus',
  'name': 'mud shake',
  'price': 110,
  'quantity': 100,
  't_name': 'ms'},
 '15': {'manufactor_country': 'aus',
  'name': 'apple juice',
  'price': 100,
  'quantity': 100,
  't_name': 'aj'},
 '16': {'manufactor_country': 'us',
  'name': 'hotdog',
  'price': 90,
  'quantity': 100,
  't_name': 'hd'},
 '17': {'manufactor_country': 'india',
  'name': 'pizza',
  'price': 150,
  'quantity': 100,
  't_name': 'p'},
 '18': {'manufactor_country': 'india',
  'name': 'garlic bread',
  'price': 100,
  'quantity': 100,
  't_name': 'gb'},
 '19': {'manufactor_country': 'india',
  'name': 'nachos chat',
  'price': 60,
  'quantity': 100,
  't_name': 'nc'},
 '2': {'manufactor_country': 'aus',
  'name': 'choco candy',
  'price': 20,
  'quantity': 100,
  't_name': 'cc'},
 '20': {'manufactor_country': 'india',
  'name': 'papadi chat',
  'price': 50,
  'quantity': 100,
  't_name': 'pc'},
 '21': {'manufactor_country': 'india',
  'name': 'maggie',
  'price': 70,
  'quantity': 100,
  't_name': 'm'},
 '22': {'manufactor_country': 'india',
  'name': 'cheese puff',
  'price': 50,
  'quantity': 100,
  't_name': 'cp'},
 '23': {'manufactor_country': 'canada',
  'name': 'pasta',
  'price': 60,
  'quantity': 100,
  't_name': 'p'},
 '24': {'manufactor_country': 'china',
  'name': 'hakka noodles',
  'price': 80,
  'quantity': 100,
  't_name': 'hn'},
 '25': {'manufactor_country': 'india',
  'name': 'water',
  'price': 20,
  'quantity': 100,
  't_name': 'w'},
 '26': {'manufactor_country': 'india',
  'name': 'energy drink',
  'price': 110,
  'quantity': 100,
  't_name': 'ed'},
 '27': {'manufactor_country': 'india',
  'name': 'fizzy water',
  'price': 40,
  'quantity': 100,
  't_name': 'fw'},
 '28': {'manufactor_country': 'india',
  'name': 'chocolate',
  'price': 40,
  'quantity': 100,
  't_name': 'ch'},
 '29': {'manufactor_country': 'india',
  'name': 'sitafal icecream',
  'price': 70,
  'quantity': 100,
  't_name': 'si'},
 '3': {'manufactor_country': 'us',
  'name': 'vanila cupcake',
  'price': 35,
  'quantity': 100,
  't_name': 'vc'},
 '30': {'manufactor_country': 'india',
  'name': 'rasgulla icecream',
  'price': 90,
  'quantity': 100,
  't_name': 'ri'},
 '31': {'31': {'manufactor_country': 'india',
   'name': 'perk',
   'price': 5,
   'quantity': 100,
   'tname': 'pe'}},
 '4': {'manufactor_country': 'ind',
  'name': 'dryfruit matho',
  'price': 50,
  'quantity': 100,
  't_name': 'dm'},
 '5': {'manufactor_country': 'india',
  'name': 'kaju katri',
  'price': 200,
  'quantity': 100,
  't_name': 'kk'},
 '6': {'manufactor_country': 'us',
  'name': 'chocolava cake',
  'price': 100,
  'quantity': 100,
  't_name': 'clc'},
 '7': {'manufactor_country': 'ind',
  'name': 'Green sandwich',
  'price': 70,
  'quantity': 100,
  't_name': 'gs'},
 '8': {'manufactor_country': 'ind',
  'name': 'Dabeli',
  'price': 35,
  'quantity': 100,
  't_name': 'd'},
 '9': {'manufactor_country': 'canda',
  'name': 'cheese toast sandwich',
  'price': 120,
  'quantity': 100,
  't_name': 'cts'}}

In [8]:
prod_id =str(input("Enter the product id: "))

Enter the product id: 1

In [9]:
record_data [prod_id]['t_name']

'mc'

In [10]:
js=json.dumps(record_data)

In [11]:
fj=open("idata.json",'w')
fj.write(js)
fj.close()

**Purchase**

In [12]:
up_id=str(input("Enter the Product id to purchase: "))
up_qun=int(input("Enter the quantity of product: "))


print("____________Bill__________")
print("**************************")
print("Product_name: ",record_data[up_id]['name'])
print("Product_price: ",record_data[up_id]['price'])

print("Manufactor country: ",record_data[up_id]['manufactor_country'])
print("____________________________")
print("Total amount: ",record_data[up_id]['price'] * up_qun)
print("****************************")
print("_______Thank You !!________")

Enter the Product id to purchase: 2
Enter the quantity of product: 3
____________Bill__________
**************************
Product_name:  choco candy
Product_price:  20
Manufactor country:  aus
____________________________
Total amount:  60
****************************
_______Thank You !!________

**Update json data**

In [13]:
record_data[up_id]['quantity']=record_data[up_id]['quantity'] - up_qun

**Update Inventory after Purchase**

In [14]:
js=json.dumps(record_data)
fj=open("idata.json",'w')
fj.write(js)
fj.close()

In [27]:
{'prod':up_id,'quantity':up_qun,'amount':record_data[up_id]['price'] * up_qun}

{'amount': 60, 'prod': '2', 'quantity': 3}

**Sales File**

In [28]:
sales={1:{'prod':up_id,'quantity':up_qun,'amount':record_data[up_id]['price'] * up_qun},
       2:{'prod':up_id,'quantity':up_qun,'amount':record_data[up_id]['price'] * up_qun},
       3:{'prod':up_id,'quantity':up_qun,'amount':record_data[up_id]['price'] * up_qun} }

In [32]:
sale=json.dumps(sales)

In [34]:
fj=open("sales.json",'w')
r=fj.write(sale)
fj.close()

In [23]:
len(sales)

3