# Summer Olympic data analysis



 **Author -Priyanshi Patel**

## 1) In How many countries summer olympic held so far?

In [ ]:
import pandas as pd

In [ ]:
r=pd.read_csv("summer.csv")

In [ ]:
r.isnull().sum() #Checking Null value

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       4
Gender        0
Event         0
Medal         0
dtype: int64

In [ ]:
Countries=r['Country'].unique()
Countries

array(['HUN', 'AUT', 'GRE', 'USA', 'GER', 'GBR', 'FRA', 'AUS', 'DEN',
       'SUI', 'ZZX', 'NED', 'BEL', 'IND', 'CAN', 'BOH', 'SWE', 'NOR',
       'ESP', 'ITA', 'CUB', 'ANZ', 'RSA', 'FIN', 'RU1', 'EST', 'TCH',
       'NZL', 'BRA', 'JPN', 'LUX', 'ARG', 'POL', 'POR', 'URU', 'YUG',
       'ROU', 'HAI', 'EGY', 'PHI', 'IRL', 'CHI', 'LAT', 'MEX', 'TUR',
       'PAN', 'JAM', 'SRI', 'KOR', 'PUR', 'PER', 'IRI', 'TRI', 'URS',
       'VEN', 'BUL', 'LIB', 'EUA', 'ISL', 'PAK', 'BAH', 'BWI', 'TPE',
       'ETH', 'MAR', 'GHA', 'IRQ', 'SIN', 'TUN', 'KEN', 'NGR', 'GDR',
       'FRG', 'UGA', 'CMR', 'MGL', 'PRK', 'COL', 'NIG', 'THA', 'BER',
       'TAN', 'GUY', 'ZIM', 'CHN', 'CIV', 'ZAM', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'INA', 'SEN', 'DJI', 'AHO', 'ISV', 'EUN', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'ISR', 'SLO', 'IOP', 'RUS', 'UKR',
       'ECU', 'BDI', 'MOZ', 'CZE', 'BLR', 'TGA', 'KAZ', 'UZB', 'SVK',
       'MDA', 'GEO', 'HKG', 'ARM', 'AZE', 'BAR', 'KSA', 'KGZ', 'KUW',
       'VIE', 'MKD', 'SCG', 'ERI', 'PAR', 'UAE', 'SRB', 'SUD', 'MRI',
       'TOG', 'TJK', 'AFG', nan, 'BRN', 'GUA', 'GRN', 'TTO', 'BOT', 'MNE',
       'CYP', 'SGP', 'GAB'], dtype=object)

In [ ]:
total_countries=len(Countries)
print(total_countries)

148

##2)Which Sports having most number of gold medalist?

**Only gold medal**

In [ ]:
goldmedal=r[(r.Medal=='Gold')]
goldmedal.head()

    Year    City      Sport  ... Gender                       Event Medal
0   1896  Athens   Aquatics  ...    Men              100M Freestyle  Gold
3   1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Gold
6   1896  Athens   Aquatics  ...    Men             1200M Freestyle  Gold
9   1896  Athens   Aquatics  ...    Men              400M Freestyle  Gold
13  1896  Athens  Athletics  ...    Men                        100M  Gold

[5 rows x 9 columns]

In [ ]:
r.Medal.value_count()

AttributeError: ignored